# ============================================================
# Project: USBlink
# Author: Sohel Shaik
# GitHub: https://github.com/Hell-Mava
# Description: Git ignore for Python project
# ============================================================
venv/
__pycache__/
*.pyc
*.pyo
*.log
report_*.txt
reports/
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Coverage reports
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
